{% extends "hello.html" %}
{% block intro %}
<p>I am an expert at helping small businesses succeed online by optimizing through analytics. Looking below the surface and into the nuts and bolts of your website is not
the only way to get results, but it is the only way to understand the results. Please feel free to contact me if you would like my opinions or assistance.</p>

{% endblock %}

{% block body %}
<div class="top">
<h1>Sam Werbalowsky</h1>
<p>655 Grand St, Apt 3F, Brooklyn, NY 11211</p>
<a href="mailto:swerbo@gmail.com">swerbo@gmail.com</a>
<p>845 532 0300</p>
</div>

<h2>Experience</h2>
<h3>TestingMom.com</h3>
<h3>PharmacyChecker.com</h3>
<h3>Online Results Now, LLC</h3>
<h3>Healthcare Check-in</h3>

<h2>Skills</h2>
<ul>
<li>Bo Staff skills</li>
<li>Archery skills</li>
<li>SQL</li>
<li>Python</li>
<li>HTML/CSS</li>
</ul>

<h2>Education</h2>
<p>Wesleyan University</p>
{% endblock %}
